<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatasetTest.Properties.Settings.Northwind_enConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Northwind_en.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>